<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DesafioPastelariaSMN</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DesafioPastelariaSMN.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-nav">
            <div class="container-fluid">
                <a class="navbar-brand fs-3">Pastelaria - SMN</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @if (ViewData["Title"].ToString().Contains("Gerenciamento") ||
                        ViewData["Title"].ToString().Contains("Visualizar") ||
                        ViewData["Title"].ToString().Contains("Cadastro"))
                        {
                            <li class="nav-item">
                                <a class="nav-link fs-5 fw-bold" asp-page="/Gerencia">Enviar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-5 fw-bold" asp-page="/Tarefas">Visualizar</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-5 fw-bold" asp-page="/Cadastro">Cadastro</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link fs-5 fw-bold" asp-page="/Index">Logout</a>
                            </li>

                        }
                        else if (ViewData["Title"].ToString().Contains("Funcionario"))
                        {

                            <li class="nav-item">
                                <a class="nav-link fs-5 fw-bold" asp-page="/Index">Logout</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer bg-light shadow-footer">
        <div class="container">
            &copy; 2024 - DesafioPastelariaSMN - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
